{% extends "base.html" %}

{% block title_head %}
LISTA DE ALUMNOS
{% endblock title_head %}


{% block h1_header %}
<h1>LISTA DE ALUMNOS</h1>
{% endblock h1_header %}
<a class="btn btn-primary" href={% url "crear_alumno" %}>INSCRIBIR ALUMNO</a>
{% block main %}
<p>
    <p>
<button onclick="location.href='{% url 'crear_alumno' %}'">Agregar Alumno</button>
{% comment %} <a class="btn " href={% url "" %}>INSCRIBIR ALUMNO</a> {% endcomment %}
<form action={% url "alumnos" %} method = "get">
<hr>
    
    {{formulario}} 
    
    <input type="submit" value="Buscar">
     

</form>
<hr>
    {% csrf_token %}
    
    {% if alumnos %}
        <ul>
            {% for alumnos in alumnos  %}
            <li> {{alumnos}} |
                <button onclick="location.href='{% url "eliminar_alumno" alumnos.id %}'">Eliminar</button>
                <button onclick="location.href='{% url  "editar_alumno" alumnos.id %}'">Editar</button>
                <button onclick="location.href='{% url  "ver_alumno" alumnos.id %}'">Ver</button>

            </li>
            {% endfor %}
        </ul>
    {% else %}
    <p>No hay alumnos. </p>
    {% endif %}


{% endblock main %}