{% extends "base.html" %}

{% block title_head %}
LISTA DE MATERIAS
{% endblock title_head %}


{% block h1_header %}
<h1>MATERIAS</h1>
{% endblock h1_header %}

{% block main %}
<p>
    <p>
        <button onclick="location.href='{% url 'crear_materia' %}'">Agregar Materia</button>

{% if materias %}
        <ul>
            {% for materia in materias %}
            <li> {{materia}} |
                <button onclick="location.href='{% url "materia_update" materia.pk %}'">Editar</button>
                <button onclick="location.href='{% url "materia_detail" materia.id %}'">Detalle</button>
                <button onclick="location.href='{% url "materia_confirm_delete" materia.id %}'">Eliminar</button>
                
                {% comment %} <a href={% url "materia_detail" materia.id %}>Detalle</a>  {% endcomment %}


            </li>
            {% endfor %}
        </ul> 
    {% else %}
    <p>No hay materias disponibles. </p>
    {% endif %}


{% endblock main %}